#pracownicy {
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
    padding: 50px;
  }

[id^="uczen"] {
    display: table-row;
}

[id^="uczen"] > span, [id^="uczen"] > input {
    display: table-cell;
  }


.tytul {
  display: inline-block;
  width: 147px;
  text-align: center;
  font-weight: bold;
}

button {
  padding: 15px 40px;
  font-size: 20px;
  background-color: #ff8f00;
  border: 0px;
  border-radius: 4%;
  cursor: pointer;
}

button:hover {
  background-color: rgb(231, 91, 9);
  color: #fff;
  transition: all 0.3s;
}